#app {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.flying-object {
  position: absolute;
  width: var(--size, 50px);
  height: var(--size, 50px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: var(--position-x, 0);
  top: var(--position-y, 0);
  animation-name: goToUp;
  animation-duration: var(--animation-duration, 3s);
  animation-fill-mode: forwards;
}
