#app {
  position: relative;
  height: 100%;
  width: 100%;
  // min-height: 100vh;
  overflow: hidden;
}

.flying-object {
  position: absolute;
  display: block;
  max-width: var(--size, 50px);
  height: auto;
  left: var(--position-x, 0);
  top: var(--position-y, 0);
  animation-name: var(--animation-name, goToUp);
  animation-duration: var(--animation-duration, 3s);
  animation-fill-mode: forwards;
}

.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #dbdbdb;
  cursor: default;

  &--hide {
    animation-name: hide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
}
